<h1>id: <%= @task.id %> のタスク編集ページ</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :content, 'タスクの編集' %>
  <%= f.text_field :content %>
  
  <%= f.submit '作成' %>
<% end %>

<%= link_to '一覧へ', tasks_path %>